{{> head }}


{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About Page</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae incidunt reprehenderit nostrum. Dolorem
            neque unde, cumque quae dolorum repudiandae voluptas suscipit quaerat doloremque voluptate accusamus
            distinctio quasi at, soluta architecto?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/yo.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}